fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/derived_data

# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
.DS_Store

# CI/Secrets
AuthKey*.p8
*.mobileprovision
*.p12

# Temporary files
/tmp/
