name: CD starter project testing workflow
run-name: Run by @${{ github.actor }}
on:
  workflow_dispatch:
  pull_request:
    branches: [ "develop" ]

jobs:
  lint:
    name: SwiftLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run SwiftLint
        run: swiftlint lint --reporter github-actions-logging

  test:
    name: Tests
    needs: lint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.*'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true

      - name: List available simulators
        run: xcrun simctl list devices

      - name: Run Tests
        env:
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: "120"
          FASTLANE_XCODEBUILD_SETTINGS_RETRIES: "4"
        run: bundle exec fastlane test
